@tailwind base;
@tailwind components;
@tailwind utilities;


::-webkit-scrollbar {
  width: 8px; /* Largura da barra de rolagem */
}

::-webkit-scrollbar-thumb {
  background-color: #5d8198; /* Cor do polegar da barra de rolagem */
  border-radius: 6px; /* Borda arredondada do polegar */
}

::-webkit-scrollbar-track {
  background-color: #f1f1f1; /* Cor da trilha da barra de rolagem */
  border-radius: 8px; /* Borda arredondada da trilha */
}

@layer components {
  .banner {
    background: url('/img/banner.jpg') no-repeat center center;
    background-size: 100vw 100vh;
    @apply h-[60vh];
  }

  .processo{
    @apply mb-8 drop-shadow border-2 border-blue-100 p-2
  }

  .banner2 {
    background: url('/img/banner2.jpg') no-repeat center center;
    background-size: 100vw 110vh;
    @apply h-[65vh] ;
  }
}
